:root {
    --cor-primaria: #fff01b;
    --cor-secundaria: #f8f8f8;
    --cor-overlay:#252525c7;
    --cor-botao-primario: #08a549;
    --cor-botao-primario-hover: #08a549e5;
    --cor-botao-secundario: #08a549;
    --cor-botao-secundario-hover: #08a549e5;
}